@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}




body{
  background: #e2e1ff;
  color: #444 ;
}
.container{
  width: 90%;
  max-width: 960px;
  margin: 80px auto;
  border-radius: 20px;
  box-shadow: 2px 4px 6px rgba(28, 6, 49, 0.1);

}
.error{
  color: red;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.2px;
  margin-top: 5px
}
button{
  text-decoration: none;
  background: rgb(117, 243, 117);
  color: #fff;
  border:0;
  border-radius: 20px;
  padding: 10px 20px;
}


